*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.imageContainer{
    scroll-behavior: smooth;
   max-width: 1200px;
   margin: 20px auto;
}

.image{
    width: 350px;
    border-radius: 3px;
    object-fit: cover;
    margin: 0px auto 20px;
}

.nav{
    width: 100vw;
    height: 8vh;
}

.nav-list{
    display: inline-flex;
}

a{
    text-decoration: none;
}

/* mobile */
@media screen and (min-width:311px) and (max-width: 580px) {
    .imageContainer{
        width: 90vw;
        margin: 10px auto
    }
}

/* tablets */
@media screen and (min-width:581px) and (max-width: 900px){
    .imageContainer{
        width: 95vw;
        margin: 10px auto;
    }
}


@media screen and (min-width:901px) and (max-width: 1318px){
    .imageContainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .image{
        width: 32vw;
        grid-gap: 1px;
    }
}
