.heroComp{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mainContainer{
    position: relative;
    top: 0;
    left:0;
    width: 100vw;
}

.landerName{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg,  #00E676, #1B5E20);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.formInput{
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(45deg, #4FC3F7,#004D40);

}

.formInput > option {
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    outline: none;
    background-image: linear-gradient(45deg, #4FC3F7,#004D40);
}