.navBarComponent{
    position: absolute;
    top: 0;
    left: 0;
}

.navbar{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 100px);
    list-style-type: none;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}